telemetria-buffer-circular/dashboard/flows.json
[
  {
    "id": "tab_main",
    "type": "tab",
    "label": "Telemetria",
    "disabled": false,
    "info": "Assina o broker Mosquitto e plota Dados + Performance."
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "mosquitto",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "nodered-dashboard",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "ui_tab_1",
    "type": "ui_tab",
    "name": "Telemetria",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "grp_data",
    "type": "ui_group",
    "name": "Grafico de Dados",
    "tab": "ui_tab_1",
    "order": 1,
    "disp": true,
    "width": 12,
    "collapse": false
  },
  {
    "id": "grp_perf",
    "type": "ui_group",
    "name": "Grafico de Performance",
    "tab": "ui_tab_1",
    "order": 2,
    "disp": true,
    "width": 12,
    "collapse": false
  },
  {
    "id": "in_data",
    "type": "mqtt in",
    "z": "tab_main",
    "name": "telemetria/amostras",
    "topic": "telemetria/amostras",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 150,
    "y": 120,
    "wires": [["json_data"]]
  },
  {
    "id": "json_data",
    "type": "json",
    "z": "tab_main",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 370,
    "y": 120,
    "wires": [["fn_data"]]
  },
  {
    "id": "fn_data",
    "type": "function",
    "z": "tab_main",
    "name": "extrai value",
    "func": "msg.topic = 'sensor';\nmsg.payload = Number(msg.payload.value);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 120,
    "wires": [["chart_data"]]
  },
  {
    "id": "chart_data",
    "type": "ui_chart",
    "z": "tab_main",
    "name": "Dados (sensor)",
    "group": "grp_data",
    "order": 1,
    "width": 12,
    "height": 6,
    "label": "Amostras do sensor (value)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "aguardando dados...",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "5",
    "removeOlderPoints": "500",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 770,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "in_perf",
    "type": "mqtt in",
    "z": "tab_main",
    "name": "telemetria/performance",
    "topic": "telemetria/performance",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 160,
    "y": 220,
    "wires": [["json_perf"]]
  },
  {
    "id": "json_perf",
    "type": "json",
    "z": "tab_main",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 370,
    "y": 220,
    "wires": [["fn_perf"]]
  },
  {
    "id": "fn_perf",
    "type": "function",
    "z": "tab_main",
    "name": "latencia por vertente",
    "func": "msg.topic = 'V' + msg.payload.vertente + ' (' + (msg.payload.mode||'') + ')';\nmsg.payload = Number(msg.payload.lat_mean_us);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 220,
    "wires": [["chart_perf"]]
  },
  {
    "id": "chart_perf",
    "type": "ui_chart",
    "z": "tab_main",
    "name": "Latencia media",
    "group": "grp_perf",
    "order": 1,
    "width": 12,
    "height": 6,
    "label": "Latencia media de insercao (us) por vertente",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "aguardando performance...",
    "dot": true,
    "ymin": "",
    "ymax": "",
    "removeOlder": "1",
    "removeOlderPoints": "100",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": ["#1f77b4", "#ff7f0e", "#2ca02c", "#d62728", "#9467bd", "#8c564b", "#e377c2", "#7f7f7f", "#bcbd22"],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 800,
    "y": 220,
    "wires": [[]]
  }
]
